<div class="d-flex align-items-center flex-column">
    <h1 style="margin-bottom:5vh;">Add User</h1>
    <div class="col-12 align-items-center d-flex flex-column" id="alert">
        <!--<div style="text-align: center;" class="alert alert-danger alert-dismissible fade show" role="alert">
            sdfdsfss sdfsdfssdfs sdfsdfsdfsfsdfs
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>-->
    </div>
    <form id="form" class="d-flex align-items-center flex-column col-12" action="/api/signup/add" novalidate>

        <div class="col-5">
            <div class="mb-3 d-flex align-items-center justify-content-center">
                <i style="font-size: x-large; margin-right: 1vw;" class="bi bi-person"></i>
                <div class="form-floating col-8">
                    <input value="" type="text" class="form-control" id="floatingInput" placeholder="Name" name="Name">
                    <label for="floatingInput">Name</label>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="mb-3 d-flex align-items-center justify-content-center">
                <i style="font-size: x-large; margin-right: 1vw;" class="bi bi-envelope"></i>
                <div class="form-floating col-8">
                    <input value="" type="text" class="form-control" id="floatingInput" placeholder="Email"
                        name="Email">
                    <label for="floatingInput">Email</label>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="mb-3 d-flex align-items-center justify-content-center">
                <i style="font-size: x-large; margin-right: 1vw;" class="bi bi-lock"></i>
                <div class="form-floating col-8">
                    <input value="" type="password" class="form-control" id="floatingInput" placeholder="Password"
                        name="Password">
                    <label for="floatingInput">Password</label>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="mb-3 d-flex align-items-center justify-content-center">
                <i style="font-size: x-large; margin-right: 1vw;" class="bi bi-shield-lock"></i>
                <div class="form-floating col-8">
                    <input value="" type="password" class="form-control" id="floatingInput" placeholder="Repeat password"
                        name="RepeatPassword">
                    <label for="floatingInput">Repeat password</label>
                </div>
            </div>
        </div>

        <div class="col-3 mb-4">
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" type="radio" name="Role" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">Administrator</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Role" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">Controller</label>
            </div>
        </div>

        <div class="col-3 d-flex justify-content-center">
            <button class="btn btn-primary" type="submit" style="width:10vw;">Register</button>
        </div>
    </form>
</div>

<script>
    validPassword = (password) => {
        return (password.length < 6) ? false : true;
    }
    const form = document.querySelector('#form');
    form.addEventListener('submit', (event) => {

        // disable default action
        event.preventDefault();
        let url = document.getElementById('form').action;

        // prepare form data
        let data = new FormData(form);

        let obj = {
            Name: data.get('Name'),
            Email: data.get('Email'),
            Password: data.get('Password'),
            RepeatPassword: data.get('RepeatPassword'),
            Role: data.get('Role')
        }
       
        // configure a request
        const xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);

        // set headers
        xhr.setRequestHeader("Content-Type", "application/json");
        //xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        document.getElementById('alert').innerHTML = `
                <div style="text-align: center;" class="loader">
                </div>`;

        // send request
        xhr.send(JSON.stringify(obj));

        // listen for `load` event
        xhr.onload = function () {
            if (this.status === 200) {
                //obj = JSON.parse(this.responseText);
                obj = JSON.parse(this.responseText);
                document.getElementById('alert').innerHTML = `
                <div style="text-align: center;" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
                ${obj.alert}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;
            } else {
                obj = JSON.parse(this.responseText);
                document.getElementById('alert').innerHTML = `
                <div style="text-align: center;" class="col-12 alert alert-warning alert-dismissible fade show" role="alert">
                ${obj.fail}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;
            }
        }
    });
</script>